[general]
environment:dev

[django]
allowed_hosts:www.mywebsite.example
# uncomment either secret_location, or secret and supply your own value
#secret_location:/etc/path/to/secret.txt
#secret:generate-your-own-secret-here
apps:myapp
language_code:en-us
timezone:America/Los_Angeles
use_i18n:True
use_l10n:True
use_tz:True
log_file:/var/log/django/debug.log
static_root:/opt/www/static/
static_url:/static/
debug:True
log_level:INFO
template_debug:True
admins:[('root', 'root@localhost')]

[database:default]
db_backend:mysql
db_name:mydb
db_user:myuser
db_pass:mypass
db_host:myhost


[debugging]
sql_logging:False
sql_log_file:/var/log/django/sql_debug.log
